[Desktop Entry]
Name=Own Ip
Comment=A widget to show LocalIp!

Type=Service
Icon=batery
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Maze Games 
X-KDE-PluginInfo-Email=office@mazegames.ga
X-KDE-PluginInfo-Name=com.github.zren.helloworld
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/Zren/plasmoid-helloworld
X-KDE-PluginInfo-Category=System Information

